.about-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.about-image {
  width: 100%;
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 24px;
}
.about-text h1 {
  font-size: 3.2rem;
  font-style: italic;
}
.about-text p {
  max-width: 1200px;
  font-size: 1.2rem;
  margin: auto;
  margin-top: 12px;
  line-height: 1.5rem;
}
